@inherits SoftSmokeViewPage
@{
	Layout = "_Layout.cshtml";
	ViewBag.PageClass = "error-page";
}
   <section class="main-content">
        <div class="wrapper">
            <h2>404</h2>
            <span>ПОХОЖЕ, ЧТО&nbsp;ВЫ&nbsp;ПОТЕРЯЛИСЬ</span>
            <p>Невозможно найти данную страницу</p>
            <a href="@CommonPages.HomePage.Url">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
        </div>
    </section>
