<?xml version="1.0" encoding="utf-8" ?>

	  <rules>
		    <rule name="Redirect to non-www" stopProcessing="true">
				<match url="(.*)" negate="false"></match>
				<action type="Redirect" url="http://webevolution.ru/{R:1}"></action>
				<conditions>
					<add input="{HTTP_HOST}" pattern="^webevolution\.ru$" negate="true"></add>
				</conditions>
			</rule>
			<rule name="Remove multiple slashes" stopProcessing="true">
			  <match url=".*" />
			  <action type="Redirect" url="{REQUEST_URI}" />
			  <conditions>
				<add input="{REQUEST_URI}" pattern="^/umbraco/" negate="true" />
				<add input="{REQUEST_URI}" pattern="^/assets/" negate="true" />
				<add input="{URL}" pattern="/Base" negate="true" />
				<add input="{URL}" pattern="cdv=1" negate="true" />
				<add input="{UNENCODED_URL}" pattern="(.*?)[/]{2,}$" />
			  </conditions>
			</rule>
			<rule name="Add trailing slash" stopProcessing="true">
			  <match url="(.*[^/])$" ignoreCase="true" />
			  <conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				<add input="{REQUEST_URI}" pattern="^/umbraco/" negate="true" />
				<add input="{URL}" pattern="^.*\.(html|htm|ico|asp|aspx|axd|asmx|css|js|jpg|jpeg|png|gif|mp3)$" negate="true" ignoreCase="true" />
				<add input="{URL}" pattern="/Base" negate="true" />
				<add input="{URL}" pattern="cdv=1" negate="true" />
			  </conditions>
			  <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
			</rule>

			<rule name="Lower Case Rule" stopProcessing="true">
			  <match url=".*[A-Z].*" ignoreCase="false" />
			  <conditions>
				<add input="{REQUEST_URI}" pattern="^/umbraco/" negate="true" />
				<add input="{REQUEST_URI}" pattern="^/assets/" negate="true" />
				<add input="{URL}" pattern="^.*\.(axd|asmx|css|js|jpg|jpeg|png|gif|mp3)$" negate="true" ignoreCase="true" />
				<add input="{URL}" pattern="/Base" negate="true" />
				<add input="{URL}" pattern="cdv=1" negate="true" />
			  </conditions>
			  <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
			</rule>

		  </rules>
