<select name="count" id="cnt" ng-model="quantity">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
</select>
<input type="text" id="addGrav" style="display: none;" ng-model="addGrav" />
<a class="button-dark-alt" href="javascript:void(0);" ng-show="attrs.id && !clicked" ng-click="ngCart.addItem(id, name, price, quantity, data, itemImage, $event, addGrav); clicked = true;" data-pid="@item.Id">{{title}}</a>
<a class="button-dark-alt" href="{{carturl}}" ng-show="clicked">{{toordertitle}}</a>
